$palette-0: #182952;
$palette-1: #2b3595;
$palette-2: #7045af;
$palette-3: #e14594;

$spotify-background-color: #222326;

$body-background-color: $spotify-background-color;
$body-color: lighten($palette-3, 90%);
